body {
    background-color:rgb(196, 209, 223);
    font-family:Kelly Slab, sans-serif;
}
p, h1, h4{
    color:rgb(18, 7, 70);
    box-shadow: 20px 10px 40 px;
    padding: 20px;
    background-color: rgb(106, 121, 153);
}
#section p {
    color:rgb(31, 70, 128);
    font-size: 1.5em;
    background-color: rgb(112, 127, 139);
}
h1 {
    margin: 50px;
}
header {
    background-color: rgb(112, 127, 139);
    border-radius: 10px;
}
nav a {
    color:rgb(59, 27, 148)
}
img a {
    border-radius: 50px;
}
.nav-menu {
    display: flex;
    gap: 20p10vw;
    list-style-type: none;
}
.nav-menu li a{
    text-decoration: none;
    color: white
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.feature-card [
    flex: 1;
    min-width: 250px;
]